* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hsecondary {
  font-size: 18px;
  color: #E5E7EB;
}

h1.hlogo {
  color: #F9FAF8;
}

h1.hmain {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 0 5px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

header, footer, .herobackground {
  background-color: #1F2937;
}

.headersection, .herosection, .infosection, .qsection, .asection {
  margin: 0 10%;
}

.headersection {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herosection {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herocontent {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgholder {
  background-color: grey;
  height: 300px;
  width: 400px;
}

.infosection {
  padding: 100px 0;
  text-align: center;
}

.infocontent {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.randinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 24%;
}

footer p {
  color: #F9FAF8;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.randimage {
  aspect-ratio: 1/1;
  width: 150px;
  border: 5px solid #3882F6;
  border-radius: 25px;
}

.qbackground {
  background-color: #E5E7EB;
}

.qsection {
  padding: 100px 100px;
}

.qsection .quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
  text-align: justify;
}

.qsection .qauthor {
  color: #1F2937;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.asection {
  background-color: #3882F6;
  color: #F9FAF8;
}

.asection {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.asection .abold {
  font-weight: bold;
}

.signupa, .signupb {
  border-radius: 10px;
  border: 2px solid;
  padding: 5px 30px;
  width: fit-content;
}

.signupa {
  color: #F9FAF8;
  background-color: #3882F6;
  border-color: #3882F6;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}